/* 
    Document   : ProjectBoard
    Created on : 2012/11/29, 13:27:43
    Author     : miyabetaiji
    Description:
        Purpose of the stylesheet follows.
*/

.task-item {
    -fx-background-radius: 4px;
    -fx-background-color: red;    
}

.assign-email {
    -fx-text-fill: DimGray;
}

.duedate-pane {
    -fx-background-color: cornflowerblue;
    -fx-background-radius: 2px;
}

.duedate-label {
    -fx-text-fill: royalblue;
    -fx-font-size: 11;
    -fx-border-color: royalblue;
    -fx-border-radius: 10px;
    -fx-background-color: lightskyblue;
    -fx-background-radius: 10px;
    -fx-padding: 2 4 2 4;
}
